.label {
    -fx-background-color: #d96b8f;   /* muted dark rose */
    -fx-text-fill: white;

    -fx-background-radius: 18 18 4 18;
    -fx-padding: 12 16 12 16;

    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 12, 0.3, 0, 4);
}

.reply-label {
    -fx-background-color: #c9577b;   
    -fx-text-fill: white;

    -fx-background-radius: 18 18 18 4;
}

#displayPicture {
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.15), 12, 0.4, 0, 4);
    -fx-background-radius: 100;
    -fx-border-radius: 100;
}

.add-label {
    -fx-background-color: #fff3c4;   
}

.marked-label {
    -fx-background-color: #d9fbe3;  
}

.delete-label {
    -fx-background-color: #ffd6d6;  
}

